.dialogPaper {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.closeButton {
  color: #f44336;
}

.userMiniTabs, .adminMiniTabs {
  margin-bottom: 16px;
  background-color: #d3e3fd;
}

.captchaRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.otpRow {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

@media (max-width: 600px) {
  .dialogPaper {
    min-width: 280px;
  }
}

